*.APS
*.bak
*.dll
*.exe
*.exp
*.o
*.obj
*.out
*.pdf
*.res
*.sln
*.vcxproj
*.xcuserstate
*.zip
.DS_Store
.gradle
.idea
.vs/*
.vscode
DerivedData
Window.app
a.lib
bin/
build/
build/
local.properties
log.txt
